* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}

p code, li code {
    color: #FA3780;
    background-color: #FBF9FC;
    font-size: 1.15rem;
}

pre code {
    font-size: 1.15rem;
    line-height: 1.90rem;
}

a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

article h1 {
    font-size: 3em;
    line-height: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 2rem;
}

article h2 {
    font-size: 1.75em;
    line-height: 1.2em;
    font-weight: bold;
}

article h3 {
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table {
    overflow-x: auto;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.table td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00C3B5;
    color: #19202D;
}
