<footer class="bg-white border-t border-gray-400 shadow">
    <div class="container max-w-4xl mx-auto flex py-8">

        <div class="w-full mx-auto flex flex-wrap">
            <div class="flex w-full">
                <div class="px-8">
                    <p class="py-4 text-gray-600 text-md">
                        This blog is written by <a target="_blank" href="https://palletsprojects.com/p/flask/">Python Flask</a> by Ahmad Mayahi, <a target="_blank" href="https://github.com/ahmadmayahi/mayahi.net">Fork it.</a><br>
                    </p>
                    <p class="text-gray-600 text-md">
                        Follow me on: <a target="_blank" href="https://twitter.com/ahmadmayahi">Twitter</a>, <a target="_blank" href="https://github.com/ahmadmayahi">Github</a>, <a target="_blank" href="https://linkedin.com/in/ahmadmayahi">Linkedin</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>