{% extends 'layout.html.jinja2' %}

{% block meta_tags %}
<meta name="description" content="A web development blog with special focus on PHP and Laravel">
<link rel="canonical" href="https://mayahi.net">
{% endblock %}

{% block content %}
    {% for name, post in posts %}
    <div class="flex w-full items-center font-sans px-4 py-6 bg-white border border-gray-400 border-rounded">
            <img class="w-12 h-12 mr-6" src="{{ url_for('static', filename='img/categories/' + post.get('category') + '.svg' ) }}" alt="{{ categories[post.get('category')].get('name') }}">
			<div class="flex-1 px-2">
				<a href="{{ url_for('app.view_post', cat=post.get('category'), post=name) }}">
                    <h2 class="text-base font-bold text-base md:text-2xl leading-9 mb-2">{{ post.get('title') }}</h2></a>
				<p class="text-gray-600 text-xs md:text-base">
                    {{ post.get('description') }}
                </p>
			</div>
		</div>
        <div class="mb-4 mx-4"></div>
    {% endfor %}
{% endblock %}
