<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}">

    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}">

    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}">


    <link rel="manifest" href="{{ url_for('static', filename='img/favicons/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='img/favicons/safari-pinned-tab.svg') }}" color="#5bbad5">

    <meta name="msapplication-config" content="none"/>

    <meta name="msapplication-square150x150logo" content="{{ url_for('static', filename='img/favicons/mstile-150x150.png') }}" />
    <meta name="msapplication-TileColor" content="#da532c">

    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdn.tailwindcss.com/3.0.0">

    {% block meta_tags %}{% endblock %}

    {% block stylesheets %}{% endblock %}

    {% block javascript %}{% endblock %}

    <title>{{ title }}</title>

    <style>
        {{ style }}
    </style>

    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.get('google_analytics_id') }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', '{{ site.get('google_analytics_id') }}');
    </script>

    <script id="mcjs">!function (c, h, i, m, p) {
        m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p)
    }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/43b384606ad56feccdab8a5ef/2feef4fdbbd7813d7c898face.js");</script>
</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal">

<nav id="header" class="fixed w-full z-10 top-0">

    <div id="progress" class="h-1 z-20 top-0"
         style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

    <div class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">

        <h1 class="pl-4">
            <a class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl"
               href="{{ url_for('app.home') }}">
                Ahmad Mayahi
            </a>
        </h1>

        <div class="block lg:hidden pr-4">
            <button id="nav-toggle"
                    class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-teal-500 appearance-none focus:outline-none">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>
                    Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
        </div>

        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20"
             id="nav-content">
            <ul class="list-reset lg:flex justify-end flex-1 items-center">
                <li class="mr-3">
                    <a class="inline-block py-2 px-4 text-gray-900 font-bold no-underline"
                       href="{{ url_for('app.about') }}">About Me</a>
                </li>
                <li class="mr-3">
                    <a target="_blank" class="inline-block py-2 px-4 text-gray-900 font-bold no-underline"
                       href="https://cse.google.com/cse?cx=15da0ba4feb7f1329">Search</a>
                </li>
                <li class="mr-3">
                    <a target="_blank" class="inline-block py-2 px-4 text-gray-900 font-bold no-underline"
                       href="https://form.jotform.com/201892949858375">Contact Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Container-->
<div class="container w-full md:max-w-4xl mx-auto pt-20">
    {% block content %}{% endblock %}
</div>

<div class="mb-8 mx-4"></div>

{% include 'footer.html.jinja2' %}

<script>
    /* Progress bar */
    //Source: https://alligator.io/js/progress-bar-javascript-css-variables/
    var h = document.documentElement,
        b = document.body,
        st = 'scrollTop',
        sh = 'scrollHeight',
        progress = document.querySelector('#progress'),
        scroll;
    var scrollpos = window.scrollY;
    var header = document.getElementById("header");
    var navcontent = document.getElementById("nav-content");

    document.addEventListener('scroll', function () {

        /*Refresh scroll % width*/
        scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
        progress.style.setProperty('--scroll', scroll + '%');

        /*Apply classes for slide in bar*/
        scrollpos = window.scrollY;

        if (scrollpos > 10) {
            header.classList.add("bg-white");
            header.classList.add("shadow");
            navcontent.classList.remove("bg-gray-100");
            navcontent.classList.add("bg-white");
        } else {
            header.classList.remove("bg-white");
            header.classList.remove("shadow");
            navcontent.classList.remove("bg-white");
            navcontent.classList.add("bg-gray-100");

        }

    });


    //Javascript to toggle the menu
    document.getElementById('nav-toggle').onclick = function () {
        document.getElementById("nav-content").classList.toggle("hidden");
    }

</script>
</body>
</html>