{% extends 'layout.html.jinja2' %}

{% block content %}
    <article class="post">
        <h1>{{ title }}</h1>
        <div class="post-content">
            {{ body }}
        </div>

    </article>
{% endblock %}