{% extends 'layout.html.jinja2' %}

{% block meta_tags %}
    <meta name="" content="article">
    <meta name="title" content="{{ title }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="description" content="{{ meta.get('description') }}">
    <meta name="twitter:description" content="{{ meta.get('description') }}">
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="@{{ site.get('social').get('twitter') }}"/>
    <link rel="canonical" href="{{ page_url }}">
    <meta itemprop="name" content="{{ title }}">
    <meta itemprop="description" content="{{ meta.get('description') }}">

    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ meta.get('description') }}">

    <meta property="twitter:image" content="{{ url_for('static', filename='img/logo.png') }}"/>
{% endblock %}

{% set style_hash = style_hash %}

{% block javascript %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/atom-one-light.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
{% endblock %}

{% block content %}
    <article
            class="w-full p-8 mt-6 lg:mt-0 text-gray-900 text-xl leading-normal bg-white border border-gray-400 border-rounded">
        <div class="font-sans">
				<span class="text-base md:text-sm text-teal-700 font-bold">&lt;<span> <a
                        href="{{ url_for('app.home') }}"
                        class="text-base md:text-sm text-teal-500 font-bold no-underline hover:underline">BACK TO BLOG</a><p></p>
				<h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">{{ meta.get('title') }}</h1>
				<p class="text-sm md:text-base font-normal text-gray-600">Published {{ meta.get('published_at') }}</p>
			</span>
                </span>
        </div>

        <div class="py-3">
            {{ post }}
        </div>

        <p class="text-right">
            <a target="_blank"
               href="{{ site.get('github_repository') }}/blob/master/content/posts/{{ category.get('name').lower() }}/{{ slug }}.md">Edit
                on Github</a>
        </p>

    </article>

    <div class="mb-8 mx-4"></div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
        });
    </script>

{% endblock %}